# Unity3D .gitignore file.

# ---------------[ tk2d Toolkit ]--------------------- #
Assets/-tk2d.asset
Assets/-tk2d.asset.meta

# ---------------[ Unity generated ]------------------ #
[Tt]emp/
[Oo]bj/
[Uu]nity[Gg]enerated/
[Ll]ibrary/
[Bb]uild/
 
# ----[ Visual Studio / MonoDevelop generated ]------- #
 [Ee]xported[Oo]bj/
*.booproj
*.booproj.meta
*.csproj
*.csproj.meta
*.pidb
*.pidb.meta
*.sln
*.sln.meta
*.sln.DotSettings.user
*.sln.DotSettings.user.meta
*.suo
*.suo.meta
*.svd
*.svd.meta
*.unityproj
*.unityproj.meta
*.user
*.user.meta
*.userprefs
*.userprefs.meta
_Resharper.*
Assets/UnityVS

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Assets/UnityVS.meta
Assets/Plugins/Detonator/Sample Supporting Emitters/Materials.meta
Assets/Visual Assets/Resources/Audio/AtaraxyTestMusic.zip
Assets/Visual Assets/Resources/Audio/AtaraxyTestMusic.zip.meta
Assets/Visual Assets/Resources/Audio/Music/0x10c.mp3
Assets/Visual Assets/Resources/Audio/Music/0x10c.mp3.meta
Assets/Visual Assets/Resources/Audio/Music/A Strange New World.mp3
Assets/Visual Assets/Resources/Audio/Music/A Strange New World.mp3.meta
Assets/Visual Assets/Resources/Audio/Music/Freljord Expedition.mp3
Assets/Visual Assets/Resources/Audio/Music/Freljord Expedition.mp3.meta
Assets/Visual Assets/Resources/Audio/Music/Gerudo Valley.mp3
Assets/Visual Assets/Resources/Audio/Music/Gerudo Valley.mp3.meta
Assets/Visual Assets/Resources/Audio/Music/Seas of Valoran.mp3
Assets/Visual Assets/Resources/Audio/Music/Seas of Valoran.mp3.meta
